<ion-header>
  <ion-navbar>
    <img ion-right src="assets/car1.png" class="navbarLogo" />
    <ion-title>WoW Garage</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome {{userDetails.name}}</h2>
  <h3>Email: {{userDetails.email}}</h3>
 
  <ion-card>
    <ion-card-title></ion-card-title>
    <img src="assets/logonissan.jpg"/>
  </ion-card>

  <ion-card>
    <ion-card-title></ion-card-title>
    <img src="assets/logo toyota.jpg"/>
  </ion-card>

  <ion-card>
    <ion-card-title></ion-card-title>
    <img src="assets/logoaudi1.jpg"/>
  </ion-card>

  <ion-card>
    <ion-card-title></ion-card-title>
    <img src="assets/logohonda.jpg"/>
  </ion-card>

  <ion-card>
    <ion-card-title>Mitsubishi</ion-card-title>
    <img src="assets/logomitsubishi.jpg"/>
  </ion-card>
  
  <button ion-button color="primary" (click)="logout()">Logout</button>
</ion-content>
