<ion-content padding id="welcome">
  <img src="assets/car1.png" class="logo"/>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Welcome To WoW Garage</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid >
    <ion-row>
      <ion-col center text-center>
        <button ion-button full color="success" (click)="signup()">Sign up</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col center text-center>
        <button ion-button full color="lightText" (click)="login()">Log in</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>