<ion-header>
  <ion-navbar>
    <img ion-right src="assets/logonissan.jpg" class="navbarLogo" />
    <ion-title>Nissan</ion-title>
  </ion-navbar>
</ion-header>

</ion-header>

<ion-content padding>

</ion-content>
